<!DOCTYPE HTML>
<html>
    <head>
        <title>Express with EJS</title>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    </head>
    <body>
        <div class="container">
            ERROR
            <%- message %><br />
            <%- error.status %> <br />
            <%- error.stack %> <br />
        </div>
        <script type="application/javascript" src="/js/bootstrap.js"></script>
    </body>
</html>