<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <!-- Navigation-->
     <% include /includes/navbar %>
    
    <hr />
    <%- body %>
    <!-- Footer-->
    <% include /includes/footer %>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>